body{
  background: #eee;
  font-family: 'Open Sans';
  font: #5c5c5c;
}

input.btn{
  margin: 0 5%;
}

form{
  z-index: 1000;
  background: white;
  margin: 15px 34% 0 33%;
  padding: 20px 25px;;
  font-size: 13px;
  font-weight: normal;
  box-shadow: 0px 5px 10px #777;
}

div.form-group{
  padding: 0;
  margin: 0;
}

form > div > p{
  font-size: 13px;
  font-weight: 600;
}

input#id_name{
  height: 26px;
  width: 270px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 0px;
}

input.btn{
  padding: 5px 10px;
  margin: 10px 0 0 0;
  background: #db4c3f;
  border: 0.5px solid #db4c3f;
  border-radius: 2px;
  height: 33px;
  font-size: 13px;
  font-weight: normal;
}

select{
  width: 88px;
}

option{
  box-shadow: 0px 0px 4px #eee;
}

select:hover{
  cursor: pointer;
}

