{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>
    <head>
        <title>Todoist</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'registration/navigation.css' %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        {% block css_include %}
        {% endblock %}
    </head>
    <body>
      {% include "registration/navigation.html" %}
      {% block content %}
      {% endblock %}
      {% include "javascripts.html" %}
    </body>
</html>
