{% extends "registration/base.html" %}
{% load staticfiles %}

{% block css_include %}
    <link href="{% static 'registration/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="content">
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form id="login_form" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.username.id_for_label }}"> Username </label>
    </div>
    <div class="form-group">
      {{ form.username }}
    </div>
    <div class="form-group">
      <label for="{{ form.password.id_for_label }}"> Password </label>
    </div>
     <div class="form-group">
      {{ form.password }}
    </div>

  <input class="btn btn-danger" type="submit" value="Log In" />
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
